

$white: #FFFFFF;
$light_blue: #5882FA;
$transparent_white: rgba(255,255,255, 0.75);
$transparent_white_2: rgb(90, 90, 90);

$modal_bg: #58FA82;
$modal_err_msg_color:#FE2E2E;
$modal_success_msg_color:#04B404;