@import 'partials/base';

body {
	font: {
		family: $base-font-family;
		weight: $base-font-weight;
	}

	background-color: #333;
	line-height: $base-line-height;
}

header {
	z-index: 1;
	width: 100%;
	height: 400px;
	position: relative;
	@include center-flex;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
	background-image: url(#{$img_url}background.jpg);

	.header-overlay {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		width:100%;
		height: 100%;
		opacity: 0.55;
		position: absolute;
		background-color: $light_blue;
	}

	.header_data {
		z-index: 3;
		text-align: center;
		color: $transparent_white;

		img {
			border-radius: 100%;
		}

		p {
			font-weight: $bold;
		}
	}

	.lg_wrap {
		top: 30px;
		z-index: 3;
		width: 35px;
		right: 30px;
		padding: 3px;
		border-radius: 2px;
		position: absolute;
		border: 2px solid rgba(255,255,255, 0.85);

		a {
			display: block;

			&:nth-last-child(1) {
				display:none;
			}
		}

		img {
			width: 100%;

		}

		&.show {
			a:nth-last-child(1){
				display: block;
			}
		}
	}

}

main {
	.section {
		padding: 2em;

		.section-content {
			width: 90%;
			margin: auto;
			max-width: 1000px;
			text-align: center;

			h2 {
				margin: 0.5em 0px;	
				font-size: $base-h2-size;
			}
		}
	}

	.section-1 {
		background-color: $white;
	}

	.section-2 {
		color: $white;
		background-color: #444;

		.section-content {
			a {
				color: #111111;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.lists {
			display: flex;
			margin: 2em 0px;
			align-items: center;
			justify-content: space-around;

			ul {
				list-style: none;
			}
		}
	}
}

.form_modal{

	.modal_btn {
		z-index: 5;
		right: 40px;
		bottom: 40px;
		position: fixed;
		border-radius: 100%;
		@include center-flex;
		width: $model_icon_size + 11;
		height: $model_icon_size + 11;
		background-color: $modal_bg;

		p:before {
			color: $white;
			font: {
				family: Genericons;
				size: $model_icon_size;
			}
		}

		.mail:before {
			content: '\f410';
		}

		.close:before {
			content: '\f405';
		}

		&:hover {
			cursor: pointer;
			background-color: $modal_bg * 0.7;
		}
	}

	.modal_form {
		z-index: 4;
		right: 120px;
		width: 300px;
		padding: 0.5em;
		position: fixed;
		border-radius: 5px;
		bottom: calc(-100% - 200px);
		background-color: $modal_bg;
		@include transition(0.1s, 0.5s, ease-in-out, bottom);

		h2 {
			width: 100%;
			color: #2E2E2E;
			margin: 0.5em 0px;
			text-align: center;
		}

		p {
			width: 100%;
			font-weight: $bold;
			text-align: center;

			&.hide {
				display:none;
			}

			&#error_msg {
				color: $modal_err_msg_color;
			}

			&#msg_sent {
				color: $modal_success_msg_color;
			}
		}

		form {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		
			input[type=email] {
				padding: 5px;
				margin: 0.5em 0px;
			}

			textarea {
				width: 100%;
				height: 300px;
				min-width: 100%;
				max-width: 100%;
				margin: 0.5em 0px;
				min-height: 100px;
				font-family:$base-font-family; 
			}

			input[type=button] {
				width: 40%;
				border: none;
				display: block;
				padding: 0.5em;
				font-weight: $bold;
				margin: 0.5em auto;
				border-radius: 5px; 
				background-color:#01df3a;

				&:hover {
					cursor: pointer;
					background-color: #04b431;
				}
			}

			.input_error {
				box-shadow: #FF0000 0px 0px 1.5px 1px;;
			}
		}
	}
}

footer {
	width: 100%;
	padding: 2em;
	@include center-flex;
	flex-direction: column;
	background-color: #222222;

	p {
		color: $transparent_white_2;
	}

	.social_media {
		width: 200px;
		margin: 1em 0px;
		@include center-flex;
		justify-content: space-around;

		.icon_wrapper {
			font-size: 0px;
			margin: 0px 0.5em;
			@include center-flex;
			width: $base_icons_size + 20;
			height: $base_icons_size + 20;
		}

		a {
			color: $white;
			border-radius: 100%;
			@include center-flex;
			text-decoration: none;
			background-color: #333333;
			width: $base_icons_size + 15;
			height: $base_icons_size + 15;
			@include transition(0.1s, 0.2s, ease, width height background-color);

			&:before {
				font: {	
					family: Genericons;				
					size: $base_icons_size;
				}
			}

			&:hover {
				background-color: #009de0;				
				width: $base_icons_size + 20;
				height: $base_icons_size + 20;
			}

			&.instagram:before {
				content:'\f215';
			}

			&.twitter:before {
				content:'\f202';
			}

			&.github:before {
				content: "\f200";
			}
		}
	}
}

// Import the media query for the responsive design
@import 'queries/responsive';